# CREATED BY: FILIPY
### SVM CLASSIFIER FOR IMAGE CLASSIFICATION PROBLEM
### LAST EDIT: 04/01/2026

In [1]:
import pandas as pd
#Downgraded numpy for compatibility purposes
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path
import pickle

/home/filipy/.local/lib/python3.10/site-packages/matplotlib/projections/__init__.py:63: UserWarning: Unable to import Axes3D. This may be due to multiple versions of Matplotlib being installed (e.g. as a system package and as a pip package). As a result, the 3D projection is not available.
  warnings.warn("Unable to import Axes3D. This may be due to multiple versions of "

In [39]:
def train(path_train):
    try:
        if type(path_train) != str:
            raise ValueError


        p = Path(path_train)
        rnd = np.random.default_rng()
        bias = rnd.random(3072,)
        bias = np.transpose(bias)
        if p.exists():
            #OPEN THE FILE
            with open(p, 'rb') as data:
                #UNPICKLE THE FILE
                df_temp = pickle.load(data, encoding='bytes')
                #TAKE JUST WHAT WE NEED
                X = df_temp[b'data']
                Y = np.array(df_temp[b'labels'])
                data.close()
                #Reshape features and transform them into dataframes
            X = X.reshape(10000,3072)
            y = Y.reshape(10000,)
            y = pd.DataFrame(data=y)
            X = pd.DataFrame(data=X)
            #CREATE WEIGHTS VECTOR
            weights = rnd.random((10,3072))
            #Transform the hot-target vector into a pairwise output units approach
            L = 10 * (10 - 1) / 2
            #TODO:
            #SVM algorithm to train model with one-vs-one approach

            return X, y
        else:
            raise FileNotFoundError(path_train)
        return weights, X, Y, bias
    except Exception as e:
        raise e

In [40]:
X1, Y1 = train('dataset/data_batch_1')
"""
X2, Y2 = train('dataset/data_batch_2')
X3, Y3 = train('dataset/data_batch_3')
X4, Y4 = train('dataset/data_batch_4')
X5, Y5 = train('dataset/data_batch_5')
"""

"\nX2, Y2 = train('dataset/data_batch_2')\nX3, Y3 = train('dataset/data_batch_3')\nX4, Y4 = train('dataset/data_batch_4')\nX5, Y5 = train('dataset/data_batch_5')\n"

In [41]:
print(f'Y lenght: {Y1.shape}')
print(f'X shape: {X1.shape}')

Y lenght: (10000, 1)
X shape: (10000, 3072)

In [42]:
X1

,0,1,2,3,4,5,6,7,8,9,...,3062,3063,3064,3065,3066,3067,3068,3069,3070,3071
0,59,43,50,68,98,119,139,145,149,149,...,59,58,65,59,46,57,104,140,84,72
1,154,126,105,102,125,155,172,180,142,111,...,22,42,67,101,122,133,136,139,142,144
2,255,253,253,253,253,253,253,253,253,253,...,78,83,80,69,66,72,79,83,83,84
3,28,37,38,42,44,40,40,24,32,43,...,53,39,59,42,44,48,38,28,37,46
4,170,168,177,183,181,177,181,184,189,189,...,92,88,85,82,83,79,78,82,78,80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,18,18,21,23,24,23,24,25,22,19,...,20,24,33,41,45,39,39,39,34,37
9996,235,240,249,253,254,253,254,254,179,108,...,75,89,113,139,163,174,179,182,181,181
9997,71,60,74,73,87,125,179,231,250,252,...,71,70,67,66,70,81,78,68,69,68
9998,250,254,211,64,61,60,55,54,55,59,...,134,134,132,130,127,132,133,215,255,254
9999,62,61,60,59,94,123,140,105,58,57,...,131,131,131,131,131,130,130,130,130,131